@import "tailwindcss";

/*@theme {
  --font-serif: 'Cinzel', serif;
  --font-sans: 'Plus Jakarta Sans', sans-serif;

  --color-noble-900: #0B130E;
  --color-noble-800: #121F17;
  --color-noble-gold: #D4AF37;
  --color-noble-gold-hover: #F3E5AB;
}*/
